---
import MapComponent from '../components/MapComponent.jsx';
---

<html lang="en">
  <head>
    <title>School Map Test</title>
    <script
      src={`https://maps.googleapis.com/maps/api/js?key=AIzaSyABVpHEPw-iQuTcQ3fDlP_RLuZ_-lJ_f2U`}
      defer
    ></script>
  </head>
  <body>
    <MapComponent client:load />
  </body>
</html>
